body {
    
    font-family: arial;
}
.main-container {
    display: flex;
    flex-direction: column;
}

.sticky-header {
    position: fixed;
    top: 0;
    background-color: white;
}
body {
    font-family: arial;
}

.normal-link{
    text-decoration: none;
    color: #000;
}

.main-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.sticky-header {
    position: fixed;
    top: 0;
    background-color: white;
}

header{
    color: #000000;
    /* background-color: #f4f4f4; */
    border: 1px solid black;
    margin: 10px;
    padding: 1px 75px 1px 25px;
    border-radius: 50px;
    z-index: 1;
}

nav {
    background-color: #f4f4f4;
    padding: 20px;
}

.searchbar {
    display: flex;
    flex-direction: row;
}

.searchbar img {
    margin: 25px 5px;
}

.searchbar img {
    width: 25px;
    height: 25px;
}

.nested-searchbar {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    
}

.nested-searchbar p {
    margin: 1px;
    font-size: 0.85em;
}

.icons img {
    width: 25px;
}
.main-nav{
    background-color: white;
}
.main-nav ul{
    white-space: nowrap;
    
}
.main-nav li{
    width: 25%;
    display: inline-block;
    background-color: white;
}
.main-nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
main{
      margin: 60% auto 0;
}

.listings img{
    object-fit: cover;
    width: 365px;
    height: 365px;
    border-radius: 5%;
}

.name{
    font-weight: bold;
}

.host{
    color:#808080;
}

.price{
    font-weight: bold;
}

.price span{
    font-weight: normal;
}
.past-experiences img{
    object-fit: cover;
    width: 365px;
    height: 365px;
    border-radius: 5%;
}
.inspiration-menu ul {
    white-space: nowrap;
}

.inspiration-menu li {
    display: inline-block;
}
.links{
    background-color:#f4f4f4;
}

.links a {
    text-decoration: none;
    color: black;
    width: 25%;
}
.places ul {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.places ul span{
    font-weight: bold
}